@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --foreground: rgb(58, 58, 58);
    --background: #fff;
    --link-color: #0052CC;
    --border: #dedede;
    --pre: #f7f7f9;
    --pre-border: #eee;
    --bold-weight: 400
}

body {
    font-family: -apple-system, Inter, Helvetica, "Helvetica Neue", sans-serif;
    line-height: 28px;
    color: var(--foreground);
    -webkit-font-smoothing: antialiased;
    padding-right: 1em;
    padding-left: 1em;
    font-size: 1em;
}

#results-container a,
a {
    color: var(--link-color);
}

#results-container a
{
    font-size: 95%;
    color: var(--link-color);
}

input[type=text] {
    color: inherit;
    font-family: inherit;
    border: none;
    font-size: inherit;
    width: 120px;
}

input:focus {
    color: inherit;
    font-family: inherit;
    outline: 0;
    border: none
}

hr {
    margin: 2rem 0;
    background-color: #eeebee
}

img,
table {
    margin-top: 1.5em;
    max-width: 100%
}

pre,
table {
    overflow: auto
}

img+em,
sub,
sup {
    position: relative
}

body,
img+em {
    margin: 0 auto
}

.post-date,
img,
img+em,
table {
    display: block
}

.publication-title,
.title,
h1,
h2,
h3,
strong {
    font-weight: var(--bold-weight)
}

html {
    -webkit-text-size-adjust: 100%
}

a {
    text-decoration: none
}

a:active,
a:focus,
a:hover {
    text-decoration: underline
}

nav a {
    color: inherit
}

nav {
    padding-bottom: .85em
}

code {
    font-family: monospace, Source Code Pro, ui-monospace, Menlo, Consolas, monospace;
    white-space: pre;
    color: #171717
}

:not(pre)>code {
    font-size: .825em;
    padding: 0.15em;
    background-color: var(--pre);
    border-radius: 4px;
    border: 1px solid var(--pre-border);
}

pre {
    font-size: .8em;
    line-height: 2.3em;
    margin: 2em 0;
    padding: 1em;
    background: var(--pre);
    border: 1px solid var(--pre-border);
    border-radius: 4px
}

.post-title {
    font-size: 1.6em;
}

h1 {
    font-size: 1.3em;
    line-height: 1.25em;
    margin-top: 1.5em;
    margin-bottom: .25em
}

h2 {
    font-size: 1.1em
}

h3 {
    font-size: .95em
}

h2,
h3 {
    margin-top: 2em;
    margin-bottom: 1em
}

img {
    height: auto;
    margin: 1.5em 0
}

table {
    border-spacing: 0;
    border-collapse: collapse;
    width: max-content
}

table td,
table th {
    padding: 6px 13px;
    border: 1px solid var(--border)
}

footer {
    font-size: small;
    margin: 2.5em 0 1.5em
}

sub,
sup {
    vertical-align: 0
}

sup {
    bottom: 1ex
}

sub {
    top: .8ex
}

img+em {
    top: -1em;
    text-align: center;
    font-size: smaller
}

#maincontent {
    margin-top: 3em;
}

.title {
    font-weight: 500;
    font-size: 1.125em;
    margin: 2em 0 .5em
}

.footnotes {
    border-top: 1px solid;
    padding-top: 1em;
    margin-top: 2em
}

.footnotes ol {
    font-size: smaller;
    padding-left: 1.5em
}

.post-date {
    margin-top: .5em;
    padding-bottom: .5em;
    font-size: small
}

.blog-year {
    font-size: 1em
}

.blog-posts {
    display: grid;
    grid-row-gap: 0.4em;
    grid-column-gap: 1em;
    grid-template-columns: auto 4em;
    margin-bottom: .5em
}

.post-entry-date {
    font-size: small;
    margin-left: auto;
    align-self: center
}

.publications-container {
    display: grid;
    row-gap: 2.5em;
    column-gap: 2em;
    grid-template-columns: fit-content(25%) auto;
    margin-top: 2em;
    margin-bottom: 4em
}

.publication-title,
ul.flat-list li {
    margin-bottom: .5em
}

.publication-details {
    line-height: 1em
}

.publication-title {
    line-height: 1.2em
}

.publication-authors,
.publication-info {
    font-size: 85%;
    margin-bottom: .75em
}

.publication-links {
    font-size: 80%
}

.publication-links a {
    padding: .15em .75em .15em 0
}

.publication-teaser img {
    margin: 0;
    border: 1px solid var(--border)
}

.cv-container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 0.7fr 2.5fr;
    row-gap: 1em;
    align-items: baseline;
    column-gap: 1em;
    border-top: 1px solid #ccc;
    padding-top: 1em;
    padding-bottom: 1.5em
}

.sr-only,
hr {
    height: 1px;
    padding: 0;
    border: 0
}

.cv-entry {
    font-size: smaller
}

.sr-only {
    position: absolute;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0)
}

.inline-logo {
    margin-top: 0
}

@media (min-width:40em) {
    body {
        max-width: 40em;
    }

    .inline-logo {
        float: right;
        margin-left: 1.5em;
        margin-top: 1em;
        margin-bottom: 3em
    }
}

ul.flat-list {
    list-style-type: none;
    padding-left: 0
}

@media (prefers-color-scheme:light) {
    .highlight .hll {
        background-color: #ffc
    }

    .highlight .c,
    .highlight .c1,
    .highlight .ch,
    .highlight .cm,
    .highlight .cpf,
    .highlight .p,
    .highlight .cs {
        color: rgb(133, 133, 133);
    }

    .highlight .err,
    .highlight .fm,
    .highlight .n,
    .highlight .nd,
    .highlight .ne,
    .highlight .nf,
    .highlight .ni,
    .highlight .nl,
    .highlight .nn,
    .highlight .no,
    .highlight .nt,
    .highlight .nv,
    .highlight .nx,
    .highlight .o,

    .highlight .ow,
    .highlight .py,
    .highlight .vc,
    .highlight .vg,
    .highlight .vi,
    .highlight .vm {
        color: rgb(58, 58, 58);
    }

    .highlight .k,
    .highlight .kd,
    .highlight .kn,
    .highlight .kp,
    .highlight .kr,
    .highlight .kt,
    .highlight .nb {
        color: rgb(133, 133, 133);
    }

    .highlight .il,
    .highlight .l,
    .highlight .ld,
    .highlight .m,
    .highlight .mb,
    .highlight .mf,
    .highlight .mh,
    .highlight .mi,
    .highlight .mo {
        color: rgb(133, 133, 133);
    }

    .highlight .cp {
        color: rgb(133, 133, 133);
    }

    .highlight .dl,
    .highlight .s,
    .highlight .s1,
    .highlight .s2,
    .highlight .sa,
    .highlight .sb,
    .highlight .sd,
    .highlight .se,
    .highlight .sh,
    .highlight .si,
    .highlight .sr,
    .highlight .ss,
    .highlight .sx {
        color: rgb(133, 133, 133);
    }

    .highlight .na,
    .highlight .nc,
    .highlight .kc {
        color: rgb(58, 58, 58);
    }

    .highlight .sc {
        color: rgb(133, 133, 133);
    }

    .highlight .bp {
        color: rgb(133, 133, 133);
    }
}
